---
title: DiscoServe
subtitle: A simple static file list for quick things.
layout: layouts/base.liquid
---

<div class="container">
  <header>
    <h1>/{{ title }}/</h1>
    <p>{{ subtitle }}</p>
  </header>

  {% fileList %}
  <footer>
    <p><strong>Why:</strong></p>
    <p>I was messing around with some CodePen demos, and needed to quickly put some static files online to link to. Rather than using one of the many services available, I decided to build my own, and learn some new tools in the process.</p>
    <p><strong>How:</strong></p>
    <p>It uses <a href="https://www.npmjs.com/package/directory-tree">directory-tree</a> to get a list of files in the <code>files</code> directory. This is then built into a single page using <a href="https://www.11ty.io/">Eleventy</a>. Its hosted on <a href="https://www.netlify.com/">Netlify</a>, so every time I add a new file and <code>git push</code>, a new build is deployed automatically.</p>
    <p><strong>Who:</strong></p>
    <p>Made by <a href="https://discoliam.com">DiscoLiam</a>. Styles and icons from <a href="https://github.com/desandro/windex">Windex</a>. Setup based on <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a>.
    </p>
  </footer>
</div>